<div id="price-tables" class="page-layout simple fullwidth doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">PAGES</span>
            </div>
            <div class="title">Price Tables</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column" layout-align="center center">

        <!-- STYLE 3 -->
        <div class="md-title">Pricing</div>
        <div>Pricing descriptions and terms & conditions</div>

        <div class="price-tables" flex layout="row" layout-align="start start" layout-wrap>
            <div class="price-table style-3 md-whiteframe-1dp" layout="column">
                <div class="package-type">
                    <div class="title">Basic</div>
                    <div class="subtitle">For small teams</div>
                </div>

                <div class="price md-primary-bg md-hue-3" layout="row" layout-align="center start">
                    <div class="currency">$</div>
                    <div layout="row" layout-align="center end">
                        <div class="value">1</div>
                        <div class="period">per credit</div>
                    </div>
                </div>

                <div class="terms" layout="column" layout-align="start center">
                    <div class="term">Unlimited chats</div>
                    <div class="term">Unlimited pages</div>
                    <div class="term">Unlimited projects</div>
                    <div class="term">24 / 7 Free support</div>
                    <md-input-container class="md-block md-default-theme flex-gt-sm md-input-invalid" flex-gt-sm="">
                      <label class="md-required" for="input_501">Enter Credits</label>
                      <input required id="input_501"  type="number" ng-model="vm.credits" ng-change="vm.change()"><div class="md-errors-spacer"></div>
                    </md-input-container>
                    <div class="price-aed">AED {{vm.amount}}</div>
                </div>

                <md-button class="cta-button md-raised md-accent">BUY NOW</md-button>
            </div>

            <div class="price-table style-3 md-whiteframe-1dp" layout="column">
                <div class="package-type">
                  <div class="badge md-warn-bg">SAVE 5%</div>
                    <div class="title">Saver 100</div>
                    <div class="subtitle">For larger teams</div>
                </div>

                <div class="price md-primary-bg" layout="row" layout-align="center start">
                    <div class="currency">$</div>
                    <div layout="row" layout-align="center end">
                        <div class="value">.95</div>
                        <div class="period">per credit</div>
                    </div>
                </div>

                <div class="terms" layout="column" layout-align="start center">
                    <div class="term">Unlimited chats</div>
                    <div class="term">Unlimited pages</div>
                    <div class="term">Unlimited projects</div>
                    <div class="term">24 / 7 Free support</div>
                    <div class="term md-warn-fg">Advanced reporting</div>
                    <div class="price-aed">AED 350</div>
                </div>

                <md-button class="cta-button md-raised md-accent">BUY NOW</md-button>
            </div>

            <div class="price-table style-3 md-whiteframe-8dp" layout="column">
                <div class="package-type">
                  <div class="badge md-warn-bg">SAVE 7%</div>
                    <div class="title">Saver 200</div>
                    <div class="subtitle">For big teams</div>
                </div>

                <div class="price md-primary-bg md-hue-3" layout="row" layout-align="center start">
                    <div class="currency">$</div>
                    <div layout="row" layout-align="center end">
                        <div class="value">.93</div>
                        <div class="period">per credit</div>
                    </div>
                </div>

                <div class="terms" layout="column" layout-align="start center">
                    <div class="term">Unlimited chats</div>
                    <div class="term">Unlimited pages</div>
                    <div class="term">Unlimited projects</div>
                    <div class="term">24 / 7 Free support</div>
                    <div class="term md-warn-fg">Advanced reporting</div>
                    <div class="term md-warn-fg">Customizable interface</div>
                    <div class="price-aed">AED 685</div>
                </div>

                <md-button class="cta-button md-raised md-accent">BUY NOW</md-button>
            </div>

                <div class="price-table style-3 md-whiteframe-1dp" layout="column">
                    <div class="package-type">
                      <div class="badge md-warn-bg">SAVE 10%</div>
                        <div class="title">Saver 500</div>
                        <div class="subtitle">For organizations</div>
                    </div>

                    <div class="price md-primary-bg" layout="row" layout-align="center start">
                        <div class="currency">$</div>
                        <div layout="row" layout-align="center end">
                            <div class="value">.90</div>
                            <div class="period">per credit</div>
                        </div>
                    </div>

                    <div class="terms" layout="column" layout-align="start center">
                        <div class="term">Unlimited chats</div>
                        <div class="term">Unlimited pages</div>
                        <div class="term">Unlimited projects</div>
                        <div class="term">24 / 7 Free support</div>
                        <div class="term md-warn-fg">Advanced reporting</div>
                        <div class="term md-warn-fg">Customizable interface</div>
                        <div class="term md-warn-fg">CRM Integration</div>
                        <div class="term">For full feature list, call us</div>
                        <div class="price-aed">AED 1650</div>
                    </div>

                    <md-button class="cta-button md-raised md-accent">BUY NOW</md-button>
                </div>

        </div>
        <!-- / STYLE 3 -->

    </div>
    <!-- / CONTENT -->

</div>
