category-add-button {
  .md-fab {
    position: fixed;
    right: 15px;
    bottom: 15px;
  }
}
md-dialog {
    min-width: 528px;
    md-input-container {
        margin: 0;
    }
}

md-dialog .md-dialog-content {
    padding: 5px 24px;
}
file-upload .drop-box {
    cursor: pointer;
}
