<div id="service" layout="column" layout-padding flex>

  <service-add-button category-id="{{serviceList.categoryId}}" ng-show="serviceList.isLoggedIn"></service-add-button>
  <div  layout="row" >
    <md-content layout="column" flex ms-scroll>
      <div ng-repeat="cat in serviceList.services" class="ms-card">
        <div class="ms-card-content-wrapper template-3 teal-bg p-16 white-fg" layout="row" layout-align="space-between">
          <div>

            <div class="info">
              <div class="title h1" >
                {{cat.name}}
              </div>

              <div class="subtitle h3 secondary-text" >
                {{cat.description}}
              </div>
            </div>

            <div class="cta">
              <service-remove service='cat'></service-remove>
              <md-button class="edit-button md-icon-button" ng-click="serviceList.edit(cat,$event)">
                <md-icon md-font-icon="icon-pencil" class="s24"></md-icon>
                <md-tooltip md-direction="bottom">
                  Edit Service
                </md-tooltip>
              </md-button>

            </div>
          </div>


          <div class="media pl-16" style="width:100px;">
            <img class="image" ng-src="{{cat.image.url}}" alt="{{cat.image.alt}}" >



          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>
