#profile {

    .about-tab {
        max-width: 1200px;

        .about {
            padding: 8px;

            .general {

                .general-edit, .work-edit, .contact-edit {
                  float: right;
                  min-height: 0px;
                  min-width: 0px;
                  position: relative;
                  padding: 0;
                  margin: 0;
                  line-height: 0;

                      md-icon {
                        color : white;
                      }
                }

                .location {

                    md-icon {
                        line-height: 13px !important;
                    }
                }
            }

            .work {

              .work-edit {
                float: right;
                min-height: 0px;
                min-width: 0px;
                position: relative;
                padding: 0;
                margin: 0;
                line-height: 0;

                    md-icon {
                      color : white;
                    }
              }

                .job {

                    .company {
                        padding: 0 16px 0 0;
                        font-weight: 500;
                    }

                    .date {
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
            .contact {

              .contact-edit {
                float: right;
                min-height: 0px;
                min-width: 0px;
                position: relative;
                padding: 0;
                margin: 0;
                line-height: 0;

                    md-icon {
                      color : white;
                    }
              }

            }
        }

        .about-sidebar {
            padding: 8px 8px 8px 32px;

            .friends {

                .content {

                    .friend {
                        padding: 4px;
                    }
                }
            }

            .groups {

                .content {

                    .group {
                        margin-bottom: 16px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .logo {
                            border: 1px solid rgba(0, 0, 0, 0.12);
                            margin-right: 16px;
                        }

                        .name {
                            font-weight: 500;
                            font-size: 15px;
                        }

                        .category,
                        .members {
                            color: rgba(0, 0, 0, 0.54);
                        }

                        .members {
                            margin-top: 16px;
                        }
                    }
                }
            }
        }
    }
}
form { margin: 0 !important;}
// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    #profile {

        .about-tab {

            .about-sidebar {
                padding: 8px
            }
        }
    }

}
.md-datepicker-input-container.md-datepicker-focused {
    border-bottom-width: 1px;
  }
input.md-datepicker-input {
    border: 0 !important;
  }
