<div layout="row" layout-wrap ms-scroll>

    <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65" >
        <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
            <form editable-form name="editableFormGeneral" onaftersave="about.saveUser()">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.GENERAL_INFORMATION">General Information</div>

                   <!-- Edit Button General Information -->
                  <md-button class="general-edit"
                      ng-click="editableFormGeneral.$show()"
                      aria-label="contacts button"
                      ng-show="!editableFormGeneral.$visible&&about.ofOwner">
                      <md-icon md-font-icon="icon-pencil"> </md-icon>
                  </md-button>
                  <!-- buttons to submit / cancel form -->
                  <md-button class="general-edit"
                      type = 'submit'
                      aria-label="contacts button"
                      ng-disabled="editableFormGeneral.$waiting"
                      ng-show="editableFormGeneral.$visible">
                      <md-icon md-font-icon="icon-content-save"> </md-icon>
                  </md-button>

            </header>

            <div class="content">

                <div class="info-line">
                    <div class="title" translate="PROFILE.GENDER">Gender</div>
                    <div class="info">
                      <span editable-select="about.user.profile.gender" e-name="Gender" e-ng-options="g.value as g.text for g in about.gender">
                        {{ (about.gender | filter:{value: about.user.profile.gender})[0].text || 'Not set' }}
                      </span>
                      <!-- <a editable-text="" e-label="Gender">{{ about.user.profile.gender || 'empty' }}</a> -->
                      <!-- {{about.user.profile.gender}} -->
                    </div>
                </div>

                <div class="info-line">
                    <div class="title" translate="PROFILE.BIRTHDAY">Birthday</div>
                    <md-datepicker
                        ng-model="about.user.profile.birthday"
                        ng-show="editableFormGeneral.$visible"
                        md-placehoulder="Date of Birth">
                    </md-datepicker>
                    <div ng-hide="editableFormGeneral.$visible" style="border:0 !important;">
                        {{ about.user.profile.birthday | date }}
                    </div>
                </div>

                <div class="info-line">
                    <div ng-hide="editableFormGeneral.$visible" class="title" translate="PROFILE.LOCATIONS">Locations</div>
                    <div class="info location">
                        <a editable-text="about.user.profile.locations" e-label="Locations">
                        <pre>{{ about.user.profile.address.locations || 'no description' }}</pre>
                        </a>
                        <md-icon md-font-icon="icon-map-marker" class="s16"></md-icon>
                    </div>
                </div>

                <div class="info-line">
                    <div ng-hide="editableFormGeneral.$visible" class="title" translate="PROFILE.ABOUT_ME">About Me</div>
                    <div class="info">
                      <a editable-text="about.user.profile.aboutUs" e-label="About Us" >
                        <pre>{{ about.user.profile.aboutUs || 'no description' }}</pre>
                      </a>
                    </div>
                </div>





            </div>
          </form>
        </div>

        <div class="profile-box info-box work md-whiteframe-1dp" layout="column">
          <form editable-form name="editableFormWork" onaftersave="about.saveUser()">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.WORK">Work</div>

                 <!-- Edit Button General Information -->
                <md-button class="work-edit"
                    ng-click="editableFormWork.$show()"
                    aria-label="contacts button"
                    ng-show="!editableFormWork.$visible&&about.ofOwner">
                    <md-icon md-font-icon="icon-pencil"> </md-icon>
                </md-button>
                <!-- buttons to submit / cancel form -->
                <md-button class="work-edit"
                    type = 'submit'
                    aria-label="contacts button"
                    ng-disabled="editableFormWork.$waiting"
                    ng-show="editableFormWork.$visible">
                    <md-icon md-font-icon="icon-content-save"> </md-icon>
                </md-button>
                </header>

            <div class="content">
                <div class="info-line">
                    <div  ng-hide="editableFormWork.$visible" class="title" translate="PROFILE.OCCUPATION">Occupation</div>
                    <div class="info">
                        <a editable-text="about.user.profile.occupation" e-label="Occupation">
                        <pre>{{ about.user.profile.address.occupation || 'no description' }}</pre>
                        </a>
                        </div>
                </div>

                <div class="info-line">
                    <div  ng-hide="editableFormWork.$visible" class="title" translate="PROFILE.SKILLS">Skills</div>
                    <div class="info">
                        <a editable-text="about.user.profile.skills" e-label="Skills">
                        <pre>{{ about.user.profile.address.skills || 'no description' }}</pre>
                        </a>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title" translate="PROFILE.JOBS">Jobs</div>
                    <table class="info jobs">
                        <tr class="job" ng-repeat="job in vm.about.work.jobs">
                            <td class="company">{{job.company}}</td>
                            <td class="date">{{job.date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
          </form>
        </div>

        <div class="profile-box info-box contact md-whiteframe-1dp" layout="column">
          <form editable-form name="editableFormContact" onaftersave="about.saveUser()">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.CONTACT">Contact</div>

                     <!-- Edit Button General Information -->
                    <md-button class="contact-edit"
                        ng-click="editableFormContact.$show()"
                        aria-label="contacts button"
                        ng-show="!editableFormContact.$visible&&about.ofOwner">
                        <md-icon md-font-icon="icon-pencil"> </md-icon>
                    </md-button>
                    <!-- buttons to submit / cancel form -->
                    <md-button class="contact-edit"
                        type = 'submit'
                        aria-label="contacts button"
                        ng-disabled="editableFormContact.$waiting"
                        ng-show="editableFormContact.$visible">
                        <md-icon md-font-icon="icon-content-save"> </md-icon>
                    </md-button>

            </header>
            <div class="content">
                <div class="info-line">
                    <div class="title" translate="PROFILE.ADDRESS">Address</div>
                        <div ng-hide="editableFormContact.$visible"  class="info">Line 1</div>
                        <div>
                            <a editable-text="about.user.profile.address.line1" e-label="Line 1">
                            <pre>{{ about.user.profile.address.line1 || 'no description' }}</pre><br>
                            </a>
                        </div>
                        <div ng-hide="editableFormContact.$visible"  class="info">Line 2</div>
                        <div>
                            <a editable-text="about.user.profile.address.line1" e-label="Line 2">
                            <pre>{{ about.user.profile.address.line2 || 'no description' }}</pre><br>
                            </a>
                        </div>
                        <div ng-hide="editableFormContact.$visible"  class="info">City</div>
                        <div>
                            <a editable-text="about.user.profile.address.city" e-label="City">
                            <pre>{{ about.user.profile.address.city || 'no description' }}</pre><br>
                            </a>
                        </div>
                        <div ng-hide="editableFormContact.$visible"  class="info">Country</div>
                        <div>
                            <a editable-text="about.user.profile.address.country" e-label="Country">
                            <pre>{{ about.user.profile.address.country || 'no description' }}</pre><br>
                            </a>
                        </div>
                </div>
                <div class="info-line">
                    <div ng-hide="editableFormContact.$visible" class="title" translate="PROFILE.TEL">Tel.</div>
                    <div class="info">
                        <a editable-text="about.user.profile.telephone" e-label="Tel.">
                        <pre>{{ about.user.profile.address.telephone || 'no description' }}</pre>
                        </a>
                    </div>
                </div>
                <div class="info-line">
                    <div ng-hide="editableFormContact.$visible" class="title" translate="PROFILE.WEBSITE">Website</div>
                    <div class="info">
                        <a editable-text="about.user.profile.website" e-label="Website">
                        <pre>{{ about.user.profile.address.website || 'no description' }}</pre>
                        </a>
                    </div>
                </div>
                <div class="info-line">
                    <div ng-hide="editableFormContact.$visible" class="title" translate="PROFILE.EMAILS">Emails</div>
                    <div class="info">
                        <a editable-text="about.user.profile.email" e-label="Emails">
                        <pre>{{ about.user.profile.address.email || 'no description' }}</pre>
                        </a>
                    </div>
                </div>
            </div>
          </form>
        </div>

    </div>


    <div class="about-sidebar" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="35">
        <div class="profile-box friends md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" translate="PROFILE.FRIENDS">Friends</div>
                <div class="more secondary-text">
                    <span translate="PROFILE.SEE">See</span>
                    <span>454</span>
                    <span translate="PROFILE.MORE">More</span>
                </div>
            </header>
            <div class="content" layout="row" layout-wrap>
                <div class="friend" flex="20" ng-repeat="friend in vm.about.friends">
                    <img ng-src="{{friend.avatar}}">
                </div>
            </div>
        </div>

        <div class="profile-box groups md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" translate="PROFILE.JOINED_GROUPS">Joined Groups</div>
                <div class="more secondary-text">
                    <span translate="PROFILE.SEE">See</span>
                    <span>6</span>
                    <span translate="PROFILE.MORE">More</span>
                </div>
            </header>

            <div class="content">
                <div class="group" ng-repeat="group in vm.about.groups" layout="row"
                     layout-align="space-between center">
                    <div layout="row" layout-align="start center">
                        <img ng-src="{{group.logo}}" class="logo" alt="{{group.name}}"/>

                        <div>
                            <div class="name">{{group.name}}</div>
                            <div class="category">{{group.category}}</div>
                            <div class="members">{{group.members}} people</div>
                        </div>
                    </div>
                    <md-button class="md-icon-button" aria-label="more" translate
                               translate-attr-aria-label="PROFILE.MORE">
                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

</div>
