<div id="question" layout="column" layout-padding flex>
  <question-add-button service="questionList.service" ng-show="questionList.isLoggedIn"></question-add-button>
  <div  layout="row" >
    <md-content layout="column" flex ms-scroll>
      <div layout="column" sv-root sv-on-stop="questionList.update($part)" sv-part="questionList.service.questions">        
      <div ng-repeat="cat in questionList.service.questions" sv-element class="ms-card">
        <div class="ms-card-content-wrapper template-3 teal-bg p-16 white-fg" layout="row" layout-align="space-between">
          <div>
            <div class="info">
              <div class="title h1" >
                {{cat.name}}
              </div>
              <div class="subtitle h3 secondary-text" >
                {{cat.description}}
              </div>
            </div>
            <div class="cta">
              <question-remove questions='questionList.service.questions' index="$index" done="questionList.update($event)"></question-remove>
              <question-edit question="cat"></question-edit>
            </div>
          </div>
          <div layout-align="center center" layout='column'>
            <span sv-handle>
              <md-icon md-font-icon="icon-drag" class="s40" ></md-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
    </md-content>
  </div>
</div>
