<md-dialog aria-label="Set Picture" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add or replace picture</h2>
      <span flex></span>
      <md-button ng-click="imageModal.close()">
        Close
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <file-upload
        ok-to-save="true"
        done="imageModal.done($event)"
        crop-settings = "{aspectRatio: 1, resultImageSize: 'max', crop:true, areaType:'circle'}"
        >
      </file-upload>
    </div>
  </md-dialog-content>
</md-dialog>
