<ion-view title="Categories" id="page2">
    <ion-content padding="false" class="has-header">
      <md-button ng-click="landing.openLogin($event)" class="md-primary md-raised">Login Modal</md-button>
      <md-button ng-click="landing.openSignup($event)" class="md-accent md-raised">Register Modal</md-button>
      <md-button ng-click="landing.openForgotPassword($event)" class="md-warn md-raised">Forgot Modal</md-button>
  <div class="row">
           <div class="col col-50">
          <div class="list card">
 <div class="item item-image">
 <img src="img/adam.jpg"/>  </div>
<!--collective repeat will placed down here !! -->
  <div class="item ">

    <h4>HandyMan Services</h4>
    <p>Professionals on a single click!!! </p>
  </div>

<div class="row">
 <div class="col col-50">
  <a class="item item-icon-top royal" href="#/foc/List">
    <i class="icon ion-wrench"></i>
    103 Suppliers
  </a></div>
      <div class="col col-50">
  <a class="item item-icon-top royal" href="#/foc/List">
    <i class="icon ion-ios-book"></i>
    25 Hired
  </a>
</div>
    </div>
</div>
               </div>
            <div class="col col-50">
          <div class="list card">
 <div class="item item-image">
 <img src="img/adam.jpg"/>  </div>

  <div class="item ">

    <h4>HandyMan Services</h4>
    <p>Professionals on a single click!!! </p>
  </div>

<div class="row">
 <div class="col col-50">
  <a class="item item-icon-top royal" href="#">
    <i class="icon ion-wrench"></i>
    103 Suppliers
  </a></div>
      <div class="col col-50">
  <a class="item item-icon-top royal" href="#">
    <i class="icon ion-ios-book"></i>
    25 Hired
  </a>
</div>
    </div>
</div>
               </div></div>
     <div class="row">
            <div class="col col-50">
          <div class="list card">
 <div class="item item-image">
 <img src="img/adam.jpg"/>  </div>

  <div class="item ">

    <h4>HandyMan Services </h4>
    <p>Professionals on a single click!!! </p>
  </div>

<div class="row">
 <div class="col col-50">
  <a class="item item-icon-top royal" href="#">
    <i class="icon ion-wrench"></i>
    103 Suppliers
  </a></div>
      <div class="col col-50">
  <a class="item item-icon-top royal" href="#">
    <i class="icon ion-ios-book"></i>
    25 Hired
  </a>
</div>
    </div>
</div>
               </div>
          <div class="col col-50">
          <div class="list card">
 <div class="item item-image">
 <img src="img/adam.jpg"/>  </div>

  <div class="item ">

    <h4>HandyMan Services</h4>
    <p>Professionals on a single click!!! </p>
  </div>

<div class="row">
 <div class="col col-50">
  <a class="item item-icon-top royal" href="#">
    <i class="icon ion-wrench"></i>
    103 Suppliers
  </a></div>
      <div class="col col-50">
  <a class="item item-icon-top royal" href="#">
    <i class="icon ion-ios-book"></i>
    25 Hired
  </a>
</div>
    </div>
</div>
               </div></div>


    </ion-content>
</ion-view>
