
  <div flex layout="row" layout-align="center center" class="md-padding">
    <div flex-sm="100" flex-gt-sm="90"
            flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
        <form ng-submit="" class="md-padding">
          <label > Search Services... </label>
          <md-autocomplete
            md-selected-item="item"
            md-search-text="landing.searchText"
            md-search-text-change="landing.searchTextChange(landing.searchText)"
            md-selected-item-change="landing.selectedItemChange(item)"
            md-items="item in landing.services | filter: landing.searchText"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="What service are you looking for today">
            <md-item-template>
              <div layout="row" layout-padding layout-align="start center">
                <thumb-image image-id="item.image.id"
                image-class="circle"
                size="96">
              </thumb-image>
              
              <div md-highlight-text="landing.searchText" md-highlight-flags="^i">
                {{item.name}}
              </div>
            </div>
            </md-item-template>
            <!-- <md-not-found>
              No states matching "{{landing.searchText}}" were found.
              <a ng-click="landing.newState(landing.searchText)">Create a new one!</a>
            </md-not-found> -->
          </md-autocomplete>
          <md-button ng-click="landing.openLogin($event)" class="md-warn md-raised">Login Modal</md-button>
          <md-button ng-click="landing.openSignup($event)" class="md-accent md-raised">Register Modal</md-button>
          <md-button ng-click="landing.openForgotPassword($event)" class="md-primary md-raised">Forgot Modal</md-button>

          <!-- <md-button ng-click="landing.openChangePassword($event)" class="md-primary">Change Password Modal</md-button> -->
        </form>
    </div>

  </div>
