<div layout="column" layout-padding>
  <md-input-container>
    <label>
      Category Name:
    </label>
    <input type="text" ng-model="categoryAdd.category.name"/>
  </md-input-container>
  <md-input-container>
    <label>
      Description:
    </label>
    <input type="text" ng-model="categoryAdd.category.description"/>
  </md-input-container>
  <div flex>
    <md-checkbox ng-model="categoryAdd.party.public" aria-label="Public Party?">
      Publish Category?
    </md-checkbox>
    <md-input-container>
      <label>
        Publish Date:
      </label>

    </md-input-container>
  </div>
  <div flex>
    <md-button ng-click="categoryAdd.add()" class="md-raised">Add Category</md-button>
  </div>
  <upload-file files="categoryAdd.category.image" type='image'></upload-file>
</div>
