<!-- User List App  -->
<div id="chat-app" class="page-layout carded fullwidth">
  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- /TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" flex-gt-md="80">

    <!-- TOOLBAR -->
    <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
      <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
        <h3 class="md-display-1">
          Users
        </h3>
      </div>
    </md-toolbar>
    <!-- TOOLBAR -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="row" flex>

      <!-- LEFT SIDENAV -->
      <md-sidenav class="sidenav left-sidenav md-sidenav-left"
                  md-is-locked-open="$mdMedia('gt-md')"
                  md-component-id="left-sidenav"
                  ms-sidenav-helper
                  layout="column">
                  <user-list-nav
                      on-change="userList.onChange(userId)"
                      layout="column" flex>
                  </user-list-nav>
      </md-sidenav>

        <!-- USER DETAIL -->
        <div class="chat" layout="column" flex>
        <!-- USER DETAIL TOOLBAR -->
          <md-toolbar class="chat-toolbar">
            <div class="md-toolbar-tools">
              <!-- RESPONSIVE USER BUTTON-->
              <md-button class="hide-gt-md responsive-user-button md-icon-button"
                         ng-click="vm.toggleLeftSidenavView(false);vm.toggleSidenav('left-sidenav')"
                         aria-label="user button">
                  <md-icon md-font-icon="icon-hangouts s36"></md-icon>
              </md-button>
              <!-- / RESPONSIVE USER BUTTON-->

              <!-- USER -->
              <div class="chat-contact" layout="row" layout-align="start center"
                   ng-click="vm.toggleSidenav('right-sidenav')">

                  <div class="avatar-wrapper">

                      <img ng-src="{{vm.contacts.getById(vm.chatContactId).avatar}}"
                           class="avatar" alt="{{vm.contacts.getById(vm.chatContactId).name}}"/>

                      <i class="icon icon- s16 status"
                         ng-class="userList.selectedUser.profile.userStatus.title">
                      </i>

                  </div>

                  <div class="chat-contact-name">
                      <!-- {{vm.contacts.getById(vm.chatContactId).name}} -->
                      {{userList.selectedUser.profile.name}}
                  </div>

              </div>
              <!-- / USER-->
              <!--OPTIONS BUTTON  -->
              <md-menu md-position-mode="target-right target">
                  <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                             aria-label="more">
                      <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                  </md-button>
                  <md-menu-content width="3">
                      <md-menu-item>
                          <md-button ng-click="vm.toggleSidenav('right-sidenav')" translate="USER.CONTACT_INFO">
                              Open Rightside Nav
                          </md-button>
                      </md-menu-item>
                      <md-menu-item>
                          <md-button ng-click="EditContact()" translate="USER.EDIT_DETAILS">
                              Edit Contact Details
                          </md-button>
                      </md-menu-item>
                  </md-menu-content>
              </md-menu>
              <!--/ OPTIONS BUTTON  -->
            </div>
          </md-toolbar>
          <!--/USER DETAIL TOOLBAR  -->
          <!-- USER DETAIL CONTENT -->
          <md-content id="chat-content" flex ms-scroll style="background: #FCFCFC;">
            <div layout="column" layout-fill layout-margin ms-scroll>
              <form class="md-whiteframe-z1" flex ng-submit="save()" name="form" novalidate layout-padding="">
                <p>Add a User</p>
                <div flex layout="row" layout-align="space-between center">
                  <md-input-container flex="80">
                    <label>Name</label>
                    <input ng-model="newAdmin.name" >
                  </md-input-container>
                  <md-input-container >
                    <input class="md-button md-raised" type="submit" value="Add">
                  </md-input-container>
                </div>
              </form>
              <form name="searchForm" layout="row" layout-padding="" >
                <md-input-container flex="65">
                  <label>Search</label>
                  <input ng-model="search" >
                </md-input-container>
                <md-select ng-model="userList.orderProperty" flex="35">
                  <md-option value="1">Ascending</md-option>
                  <md-option value="-1">Descending</md-option>
                </md-select>
              </form>
              <ul>
                <li dir-paginate="user in userList.users | itemsPerPage: userList.perPage" total-items="userList.numberOfUsers" current-page='userList.page'>
                  <p><a href="/admin/{{admin._id}}">{{ user.profile.name }}</a> <button ng-click="userList.remove(admin)">&times;</button></p>
                </li>
              </ul>
              <dir-pagination-controls on-page-change="userList.pageChanged(newPageNumber)"></dir-pagination-controls>
              <p>Total number of admin: {{userList.numberOfUsers}}</p>
            </div>

          </md-content>
          <!-- /USER DETAIL CONTENT -->
        </div>
        <!--/ USER  DETAIL-->
     </div>
    <!-- / Content Card -->
  </div>
  <!-- /CENTER -->


</div>
<!-- /User List App  -->
